{% extends 'monApp/base.html' %}

{% block menu %}
    <h1>{{ titremenu }}</h1>
{% endblock %}

{% block contenu %}
    <h2>{{ rayon.nom }}</h2>
    <ul>
        <li>ID : {{ rayon.pk }}</li>
        <li>Description : {{ rayon.description }}</li>
        <li><a href="{% url 'lst_rayons' %}">Retour à la liste des rayons</a></li>
        <li><a href="{% url 'upd_rayon' rayon.refRay %}">Modifier le rayon</a></li>
        <li><a href="{% url 'dlt_rayon' rayon.refRay %}">Supprimer le rayon</a></li>
    </ul>
{% endblock %}