{% extends 'monApp/base.html' %}
{% block menu %}
<h1>{{titremenu}} </h1>
{% endblock %}
{% block contenu %}

<table class="table table-striped table-hover table-bordered table-sm">
    <thead class="thead-light">
        <tr>
            <th>Id</th>
            <th>Nom produit</th>
            <th>Prix unitaire</th>
            <th>Date fabrication</th>
            <th>Catégorie</th>
            <th>Statut</th>
        </tr>
    </thead>
    <tbody>
    {% for prdt in prdts %}
        <tr>
            <td><a href="{% url 'dtl_prdt' prdt.refProd %}">{{ prdt.refProd }}</a></td>
            <td>{{ prdt.intituleProd }}</td>
            <td>{{ prdt.prixUnitaireProd|floatformat:2 }} €</td>
            <td>{{ prdt.dateFabProd|date:"d/m/Y" }}</td>
            <td>{{ prdt.categorie }}</td>
            <td>{{ prdt.status }}</td>
            <td><a href="{% url 'prdt-chng' prdt.refProd %}">Modifier un produit</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<p>
J'ai
{% if prdts|length < 5 %}
    peu de
{% elif prdts|length < 10 %}
    quelques
{% else %}
    beaucoup de
{% endif %}
produits préférés.
</p>

<p>
    <a class="btn btn-primary mb-3" href="{% url 'crt-prdt' %}">Créer un nouveau produit</a>
</p>

{% endblock %}
