{% extends 'monApp/base.html' %}
{% block contenu %}
<html>
    <head>
        <title>Liste des catégories - Mon app DJANGO</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Liste des catégories</h1>
        {% if cats %}
            <ul>
                {% for c in cats %}
                    <li>{{ c.nomCat }}</li>
                {% endfor %}
            </ul>
            <p>Nombre de catégories : {{ cats|length }}</p>
        {% else %}
            <p>Aucune catégorie trouvée.</p>
        {% endif %}
    </body>
</html>
{% endblock %}
